* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: bold;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    79deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
}
.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(100px, auto) repeat(5, 60px);
  min-height: 100vh;
}
.grid-container > button {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #111;
  color: #fff;
  outline: none;
  border: none;
}
.grid-container > button:hover {
  background-color: #fff;
  color: #111;
}
.grid-container > .operator {
  background-color: #cf2424;
}
.grid-container > .span-two {
  grid-column: span 2;
}
.grid-container > .output {
  grid-column: 1/-1;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.grid-container > .output > .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1 rem;
}
.grid-container > .output > .current-operand {
  font-size: 2rem;
}
